@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "be-vietnam";
    src: url(/public/fonts/BeVietnamPro-SemiBold.ttf);
    font-weight: 600;
  }
  @font-face {
    font-family: "be-vietnam";
    src: url(/public/fonts/BeVietnamPro-Bold.ttf);
    font-weight: 700;
  }
  html {
    font-family: "be-vietnam";
    src: url(/public/fonts/BeVietnamPro-SemiBold.ttf);
    font-weight: 600;
  }
}
