@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "be-vietnam";
    src: url(/fonts/BeVietnamPro-SemiBold.ttf);
    font-weight: 600;
  }
  @font-face {
    font-family: "be-vietnam";
    src: url(/fonts/BeVietnamPro-Bold.ttf);
    font-weight: 700;
  }
  html {
    font-family: "be-vietnam";
    src: url(/fonts/BeVietnamPro-SemiBold.ttf);
    font-weight: 600;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
